[submodule "PyTorch-LBFGS"]
	path = PyTorch-LBFGS
	url = https://github.com/hjmshi/PyTorch-LBFGS.git
[submodule "bayesian_benchmarks"]
	path = bayesian_benchmarks
	url = https://github.com/sgalee2/bayesian_benchmarks.git
[submodule "recursive-nystrom"]
	path = recursive-nystrom
	url = https://github.com/axelv/recursive-nystrom.git
